<template>
  <q-page class="q-pa-md">
    <q-input
      :model-value="movieStore.keyword"
      @update:model-value="(value:any) => movieStore.search(value)"
      outlined
      placeholder="Search by title.."
      dense
      class="q-mb-md"
      debounce="500"
    ></q-input>

    <div class="row" v-if="movieStore.filteredMovies.length > 0">
      <div
        class="col-12 col-md-3 q-pr-md-md q-pb-md"
        v-for="movie in movieStore.filteredMovies"
        :key="movie.id"
      >
        <movie-card
          :id="movie.id"
          :title="movie.title"
          :director="movie.director"
          :summary="movie.summary"
        />
      </div>
    </div>

    <div v-else class="text-center">No movie found; try adding a new one.</div>

    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="accent" to="/create" />
    </q-page-sticky>
  </q-page>
</template>

<script setup lang="ts">
import MovieCard from 'src/components/MovieCard.vue';
import { useMovieStore } from 'src/stores/movie';

const movieStore = useMovieStore();
</script>
