<template>
  <router-link :to="`/movie/${id}`">
    <q-card class="bg-primary text-white">
      <q-card-section>
        <div class="text-h6">{{ title }}</div>
        <div class="text-subtitle2">{{ director }}</div>
      </q-card-section>

      <q-card-section>
        {{ summary }}
      </q-card-section>
    </q-card>
  </router-link>
</template>

<script setup>
defineProps(['id', 'title', 'director', 'summary']);
</script>
