<template>
  <q-form @submit="onSubmit">
    <q-input v-bind="title" label="Title" outlined dense class="q-mb-md" />

    <q-input
      v-bind="director"
      label="Director"
      outlined
      dense
      class="q-mb-md"
    />

    <q-input
      v-bind="summary"
      label="Summary"
      outlined
      dense
      type="textarea"
      class="q-mb-md"
    />

    <div class="q-gutter-xs">
      <q-chip
        v-model:selected="genre.action"
        color="primary"
        text-color="white"
      >
        Action
      </q-chip>

      <q-chip
        v-model:selected="genre.adventure"
        color="primary"
        text-color="white"
      >
        Adventure
      </q-chip>

      <q-chip
        v-model:selected="genre.animation"
        color="primary"
        text-color="white"
      >
        Animation
      </q-chip>

      <p v-if="genreError !== ''" class="text-negative text-caption">
        {{ genreError }}
      </p>
    </div>

    <div class="row q-mt-md">
      <div class="col-6 q-pr-xs">
        <q-btn
          type="submit"
          color="primary"
          label="save"
          class="full-width"
        ></q-btn>
      </div>

      <div class="col-6">
        <q-btn
          type="button"
          color="negative"
          label="delete"
          class="full-width"
          @click="onRemove"
        ></q-btn>
      </div>
    </div>
  </q-form>
</template>

<script setup>
import { useQuasar } from 'quasar';
import { useMovieStore } from 'src/stores/movie';
import { useForm } from 'vee-validate';
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import * as yup from 'yup';

const route = useRoute();

const movieStore = useMovieStore();

const movie = movieStore.getMovie(route.params.id);

const validationSchema = yup.object({
  title: yup.string().required().label('Title'),
  director: yup.string().required(),
  summary: yup.string().required().max(100),
});

const { defineComponentBinds, handleSubmit } = useForm({
  validationSchema,
  initialValues: {
    id: movie.id,
    title: movie.title,
    director: movie.director,
    summary: movie.summary,
  },
});

const quasarConfig = (state) => ({
  props: {
    error: !!state.errors[0],
    'error-message': state.errors[0],
  },
});

const title = defineComponentBinds('title', quasarConfig);
const director = defineComponentBinds('director', quasarConfig);
const summary = defineComponentBinds('summary', quasarConfig);

const genreError = ref('');

const genre = ref({
  action: false,
  adventure: false,
  animation: false,
});

const router = useRouter();

const $q = useQuasar();

const onSubmit = handleSubmit((values) => {
  genreError.value = '';

  const atLeastOneSelected = Object.values(genre.value).some(
    (value) => value === true
  );

  if (!atLeastOneSelected) {
    genreError.value = 'Please select at least one genre';
    return;
  }

  movieStore.update(values);

  $q.notify({
    position: 'top-right',
    color: 'warning',
    message: `Movie titled ${movie.title} updated`,
    icon: 'warning',
  });

  router.push('/');
});

const onRemove = () => {
  movieStore.remove(movie);

  $q.notify({
    position: 'top-right',
    color: 'negative',
    message: `Movie titled ${movie.title} removed`,
    icon: 'delete',
  });

  router.push('/');
};
</script>
